button
  height 30px
.WHITE
  background-color white
.BLACK
  background-color black
.grade
  font-size 24px
  color rgba(0,0,0,.87)
  padding-left 15px
.remainTime
  font-size 24px
  color blue
  padding-left 15px
.box
  width 402px
  height 602px
  margin 0 auto
  .line
    width 400px
    height 100px
    display flex
  .lattice
    width 100px
    height 100px
    border 1px solid gray
  .lattice:hover
    cursor pointer
